/* The purpose of this file is to provide styles includes font, buttons
to  webpage 
Autho(Group): 
        Abhishek-(A00480219) (Group Leader)
        Madhur-(A00477319)
        Mariam-(A00460192)
        Prekha-(A00469476)
        Ziyang-(A00475502)
        */

/* body font size */
body {
    font-size: 1.5rem;
    font-family: Calibri;
}

/* For audio button style*/
.videoHelperBtn {
    padding: 0;
    border: none;
    background-color: transparent;
    font-size: 1.35rem;
}

/*for submit button style*/
.submitBtn {
    font-size: 1.5rem;
}

/*for toogle switch style*/
.switch {
    position: fixed;
    top: 1.2rem;
    right: 1rem;
    z-index: 9999;
    display: flex;
    align-items: center;
}

/*for toggle switch style*/
.slider {
    width: 3rem;
    height: 2rem;
    background-color: #000;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 0.5rem;
}

/*for toggle switch style*/
.circle {
    width: 1.6rem;
    height: 1.5rem;
    background-color: #fff;
    border-radius: 50%;
}

/*styles for input field*/
.inputField {
    width: 25rem;
    height: 1.8rem;
    padding: 0%;
}

/* to place content in centre of page*/
.mainPage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    font-weight: normal;
}









