body {
  text-align: center;
    font-size: 1.5em ;
}

.videoHelperBtn {
  
    padding: 0;
    border: none;
    background-color: transparent;
    font-size: 25px;
}

.switch {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
}

.switch input {
    display: none;
}

.slider {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #ccc;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.4s;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider {
    background-color: #000000;
}


