body {
  text-align: center;
    font-size: 1.5em ;
}

.videoHelperBtn {
  width: 100px;
  height: 50px;
    padding: 0;
    border: none;
    background-color: transparent;
    font-size: 64px;
}



